:root {
  --logosize: 5vmin
}

.header {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.header-navbar {
  background-color: #393e49;
  height: calc(var(--logosize) + 20px);
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
}

.header-logo {
  height: var(--logosize);
  pointer-events: none;
} 

.header-help {
  color: #5fbf00;
  padding: 10px 10px 10px 15px;
  outline: none; 
  /* font-size: calc(var(--logosize) * 0.5);
  font-weight: bold;
  margin-top: calc(var(--logosize) * 0.5);
  padding: 10px 10px 10px 10px; */
}