.settingsBody {
    margin: auto;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.settingsBody .username {
    width: 40% !important;
    height: 4vh;
    padding: 30px 40px;
    border-radius: 40px !important;
    margin: auto;
}

.settingsBody .password {
    width: 40% !important;
    height: 4vh;
    padding: 30px 40px;
    border-radius: 40px !important;
    margin: auto;
}

.password .bp3-input-action {
    top: auto !important;
    padding-top: 3px;
}

.accountSubmitButton {
    height: 5vh;
    margin: 30px;
    border-radius: 30px;
    padding: 20px 40px;
    font-size: 20px;
    background-color: #60bf00 !important;
    color: rgb(255, 255, 255) !important;
    cursor: pointer;
    border: none;
}

.lock {
    vertical-align: bottom !important;
}