.settingsBody {
    margin: auto;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.accountInputField {
    width: 60%;
    height: 4vh !important;
    padding: 10px 40px !important;
    border-radius: 30px;
    margin: auto;
}

.accountSubmitButton {
    height: 6vh;
    margin: 5px;
    border-radius: 30px;
    padding: 20px 40px;
    font-size: 20px;
    background-color: #60bf00 !important;
    color: rgb(255, 255, 255) !important;
    cursor: pointer;
    border: none;
}
