* {
  margin: 0;
  padding: 0;
}

.joinChatRoom {
  flex-direction: column;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.joinChatInputField {
  width: 15vw;
  height: 8vh;
  margin: 10px;
  border: 2px solid blueviolet;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
}

.joinChatRoomButton {
  height: 8vh;
  margin: 5px;
  width: 15vw;
  border-radius: 10px;
  padding: 5px;
  font-size: 18px;
  background: blueviolet;
  color: #fff;
  cursor: pointer;
  border: none;
}

.chat-room-window {
  margin:0;
  margin-left: 10vw;
  max-width: 100vw;
  max-height: 100vh;
}


.chat-room-header-title{
  height: 45px;
  border-radius: 6px;
  background: #263238;
  cursor: pointer;
  display: block;
  padding: 0 1em 0 2em;
  color: white;
  font-weight: 700;
  line-height: 45px;
}

.chat-room-body {
  height: calc(50vh);
  background: whitesmoke;
}


.chat-room-window .chat-room-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.message {
  height: auto;
  padding: 10px;
  display: flex;
}

.message-content {
  width: 20vw;
  height: 5vh;
  background-color: blue;
  border-radius:10px;
  color:white;
}

#user-self {
  justify-content: flex-start;
}

#user-self .message-content {
  justify-content: flex-start;
}

#user-self .message-styling {
  justify-content: flex-start;
  margin-left: 5px;
  color: red;
}

#user-other {
  justify-content: flex-end;
}

#user-other .message-content {
  justify-content: flex-end;
  background-color: grey;
}

#user-other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

#sender_and_time{
  color: black;
  max-width: 20vw;
  font-size: 1vw;
}

.chat-room-footer {
  height: 40px;
  display: flex;
  
}
.chat-room-footer-message-field{
  width:100%;
  border-style: none;
}