:root {
  --main-bg-color: #282c34;
  --text-color: white;
}


body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

.App {
  width: 80vw;
  margin: 0 auto;
  min-height: 100vh;
}

.link {
  color: #61dafb;
}

.center {
  text-align: center;
}
.light-mode {
  background-color: white;
  color:black;
}