:root {
  --main-bg-color: #282c34;
}


body {
  background-color: var(--main-bg-color);
}

.App {
  width: 80vw;
  margin: 0 auto;
  min-height: 100vh;
  color: white;
}

.link {
  color: #61dafb;
}

.center {
  text-align: center;
}